<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">True love on Kimono Dating</h1>
      <p class="hero__tagline">So let's get started!</p>
      <a href="" class="btn btn--accent btn--stretched">Register Now</a>
    </header>
    <picture>
      <source type="image/webp" srcset="images/anime-couple-banner.webp" />
      <source type="image/png" srcset="images/anime-couple-banner.png" />
      <img class="hero__image" src="images/anime-couple-banner.png" alt=""
    /></picture>
  </div>
</section>
