<section class="block container">
    <header class="block__header">
      <h2>Our Matching System</h2>
      <p>
        Find a match quickly with anime lovers, gamers, cosplayers and Japan fans here on Kimono dating</p>
      </p>
    </header>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/one.svg#one"></use>
          </svg>
        </span>
        <h3 class="feature__heading">
          Imagine a date with someone who shares your deepest interests
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam
          tempore quam quasi repudiandae dolorum explicabo autem. Amet
          molestiae incidunt ut!
        </p>
        <a href="#" class="link-arrow">How it works</a>
      </div>
      <picture>
        <img
          class="feature__image"
          src="images/anime-daydreaming.gif"
          alt="A shy anime girl texting"
        />
      </picture>
    </article>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/two.svg#two"></use>
          </svg>
        </span>
        <h3 class="feature__heading">
          Create an account on Kimono Dating
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam
          tempore quam quasi repudiandae dolorum explicabo autem. Amet
          molestiae incidunt ut!
        </p>
        <a href="#" class="link-arrow">How it works</a>
      </div>
      <picture>
        <img
          class="feature__image"
          src="images/anime-reading-text.gif"
          alt="A shy anime girl texting"
        />
      </picture>
    </article>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/three.svg#three"></use>
          </svg>
        </span>
        <h3 class="feature__heading">
          And you are ready to go!
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam
          tempore quam quasi repudiandae dolorum explicabo autem. Amet
          molestiae incidunt ut!
        </p>
        <a href="#" class="link-arrow">How it works</a>
      </div>
      <picture>
        <img
          class="feature__image"
          src="images/anime-excited.gif"
          alt="A shy anime girl texting"
        />
      </picture>
    </article>
  </section>