<nav class="nav collapsible">
  <a class="nav__brand" href="/"
    ><img src="images/kimono-dating-logo.png" alt="A heart shaped logo"
  /></a>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">About</a></li>
    <li class="nav__item"><a href="#">Success Stories</a></li>
    <li class="nav__item"><a href="#">Login</a></li>
    <li class="nav__item"><a href="#">Register</a></li>
  </ul>
</nav>
